{{> header }}

  <div class="post-page container section-content">

  <section class="post-header">
    <small>Posted on <time>{{brDate date}}</time> by <a href="https://plus.google.com/+betomuniz" target="_blank" rel="author">Beto Muniz</a></small>
    <h1 class="post-title">
      {{ page_title }}
      {{#if page_subtitle}}
        <br>{{page_subtitle}}
      {{/if}}
    </h1>
  </section>

  <main class="post-body">

    {{{contents}}}

  </main>

  <section id="comments">
   <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'obetomuniz'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </section>

  </div>

{{> footer }}
