{{> header }}

    <section id="talks" class="talks-container container"></section>
    
    <script type="text/o-template" id="talks-template">
      <div class="talk">
          <div class="talk-infos">
            <h4 class="talk-info-event"><a href="\{{event_url}}" target="_blank">\{{event}}</a></h4>
            <ul>
              <li class="talk-info">
                <span class="talk-info--label">Date:</span> <time class="talk-info--data" datetime="\{{date}}">\{{date}}</time>
              </li>
              <li class="talk-info">
                <a class="talk-info--links" href="\{{location_url}}" target="_blank"><span class="talk-info--label">Location:</span> <address class="talk-info--data">\{{location}}</address> &raquo;</a>
              </li>
              <li class="talk-info">
                <a class="talk-info--links" href="\{{talk_url}}" target="_blank"><span class="talk-info--label">Presentation:</span> <span class="talk-info--data">\{{talk}}</span> &raquo;</a>
              </li>
            </ul>
          </div>
      </div>
    </script>

{{> footer }}
