{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "extends": ["prettier", "prettier/standard"],
  "rules": {
    "prettier/prettier": "error"
  }
}
