.pong {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  .container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%,0);
  }
  .pong-header {
    font-family: 'Courier New', serif;
    text-align: center;
    color: #777;
    line-height: 24px;
  }
  .pong-game {
    margin: 50px 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }
  .score {
    display: inline-block;
    vertical-align: middle;
    &.vs {
      margin: 0 60px;
    }
    span {
      display: block;
    }
  }
  .pong-footer {
    text-align: center;
    color: #777;
    font-family: 'Courier New', serif;
    line-height: 25px;
    font-size: 13px;
  }
}