.post-page{
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
  margin-bottom: 85px;
  .post-header{
    small, a{
      font-size: 10px;
      color: #BBB;
      font-family: "Tahoma", sans-serif;
      display: block;
      margin-bottom: 10px;
      time{
        display: inline;
      }
      a{
        text-decoration: underline;
        display: inline;
      }
    }
    h1{
      color: #2C7CB7;
      font-size: 30px;
      margin-bottom: 45px;
      line-height: 40px;
    }
  }
  .post-body{
      p{
          color: #333;
          display: block;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.6;
          letter-spacing: 0.01rem;
          margin-bottom: 25px;
          code{
              background: #eee;
              display: inline-block;
              padding: 0 5px;
              font-family: 'Courier New', serif;
          }
      }
      h1, h2, h3, h4{
          color: #666666;
          line-height: 36px;
          font-family: "Arial", sans-serif;
          margin-bottom: 25px;
      }
      h2{
          font-size: 30px;
      }
      h3{
          font-size: 24px;
      }
      h4{
          font-size: 18px;
      }
      a{
          color: #777;
          font-weight: bold;
      }
      img{
          max-width: 100%;
          display: block;
          margin: 0 auto;
      }
      ul,
      ol{
          padding: 0 0 0 15px;
          margin: 0 0 25px 15px;
          font-size: 14px;
          color: #333;
          line-height: 22px;
          ul,
          ol{
              margin-bottom: 0;
          }
          li {
            margin-bottom: 5px;
            &:last-child {
              margin-bottom: 0;
            }
          }
      }
      ol{
          list-style-type: decimal;
      }
      ul{
          list-style-type: circle;
      }
      blockquote{
          margin: 0 0 25px 15px;
          padding: 10px 0 10px 15px;
          border-left: 3px solid #ccc;
          display: block;
          p{
              margin-bottom: 0;
          }
      }
      pre{
          font-family: 'Courier New', serif !important;
          font-size: 14px;
          margin-bottom: 25px;
          width: 100%;
          code{
            overflow-y: auto;
            background-color: transparent;
            padding: 0 0 25px 0;
          }
      }
      em{
          font-style: italic !important;
      }
      strong{
          font-weight: bolder !important;
      }
      hr{
          display: block;
          width: 100%;
          border: 0;
          border-bottom: 1px solid #ccc;
          margin-bottom: 25px;
          margin-top: 0;
      }
      .post-video {
        min-height: 350px;
      }

      .post-container {
        width: 100%;
        margin-bottom: 25px;
        display: block;
      }
  }

  #comments{
      padding-top: 50px;
  }
}

/*

Google Code style (c) Aahan Krish <geekpanth3r@gmail.com>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: white;
  color: black;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.hljs-javadoc {
  color: #800;
}

.hljs-keyword,
.method,
.hljs-list .hljs-keyword,
.nginx .hljs-title,
.hljs-tag .hljs-title,
.setting .hljs-value,
.hljs-winutils,
.tex .hljs-command,
.http .hljs-title,
.hljs-request,
.hljs-status {
  color: #008;
}

.hljs-envvar,
.tex .hljs-special {
  color: #660;
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-cdata,
.hljs-filter .hljs-argument,
.hljs-attr_selector,
.apache .hljs-cbracket,
.hljs-date,
.hljs-regexp,
.coffeescript .hljs-attribute {
  color: #080;
}

.hljs-sub .hljs-identifier,
.hljs-pi,
.hljs-tag,
.hljs-tag .hljs-keyword,
.hljs-decorator,
.ini .hljs-title,
.hljs-shebang,
.hljs-prompt,
.hljs-hexcolor,
.hljs-rules .hljs-value,
.hljs-literal,
.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.hljs-number,
.css .hljs-function,
.clojure .hljs-attribute {
  color: #066;
}

.hljs-class .hljs-title,
.smalltalk .hljs-class,
.hljs-javadoctag,
.hljs-yardoctag,
.hljs-phpdoc,
.hljs-dartdoc,
.hljs-type,
.hljs-typename,
.hljs-tag .hljs-attribute,
.hljs-doctype,
.hljs-class .hljs-id,
.hljs-built_in,
.setting,
.hljs-params,
.hljs-variable {
  color: #606;
}

.css .hljs-tag,
.hljs-rules .hljs-property,
.hljs-pseudo,
.hljs-subst {
  color: #000;
}

.css .hljs-class,
.css .hljs-id {
  color: #9b703f;
}

.hljs-value .hljs-important {
  color: #ff7700;
  font-weight: bold;
}

.hljs-rules .hljs-keyword {
  color: #c5af75;
}

.hljs-annotation,
.apache .hljs-sqbracket,
.nginx .hljs-built_in {
  color: #9b859d;
}

.hljs-preprocessor,
.hljs-preprocessor *,
.hljs-pragma {
  color: #444;
}

.tex .hljs-formula {
  background-color: #eee;
  font-style: italic;
}

.diff .hljs-header,
.hljs-chunk {
  color: #808080;
  font-weight: bold;
}

.diff .hljs-change {
  background-color: #bccff9;
}

.hljs-addition {
  background-color: #baeeba;
}

.hljs-deletion {
  background-color: #ffc8bd;
}

.hljs-comment .hljs-yardoctag {
  font-weight: bold;
}
