.projects{
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
  margin-bottom: 85px;
}
.projeto{
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20px;
    overflow: hidden;
    .projeto-thumb{
        width: 100px;
        height: 100px;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
    }
    .project-default-icon{
        width: 80%;
        height: 75%;
        display: inline-block;
        opacity: 0.6;
        margin: 10% 0;
        cursor: pointer;
    }
    .project-custom-icon{
        width: 80%;
        height: 80%;
        display: inline-block;
        margin: 10% 0;
        cursor: pointer;
    }
    .projeto-infos{
        vertical-align: middle;
        display: inline-block;
        padding: 0 0;
        height:auto;
        position: relative;
    }
    .projeto-title{
        color: #2c7cb7;
        font-size: 25px;
        margin-bottom: 5px;
    }
    .projeto-desc{
        color: #222;
        font-size: 14px;
        font-family: "Tahoma", sans-serif;
        margin-bottom: 5px;
    }
    .projeto-show{
        color: #2c7cb7;
        font-size: 12px;
    }
    li{
        color: #808080;
        font-size: 10px;
        font-family: "Tahoma", sans-serif;
        background-color: #e6e6e6;
        text-align: center;
        display: block;
        width: 60px;
        padding: 3px 0;
        margin: 5px 5px 1px;
        float: right;
    }
}

@media screen and (max-width: 400px) {
  .projeto{
    .projeto-thumb{
        width: 50px;
        height: 50px;
    }
    .projeto-desc{
      display: none;
    }
    .projeto-title{
      font-size: 18px;
    }
    .projeto-show{
      font-size: 10px;
    }
    .projeto-infos{
      padding: 6px 0;
    }
  }
}
