.talks-container {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
    margin-bottom: 60px;
}
.talk {
    display: block;
    text-decoration: none;
    margin-bottom: 25px;
    overflow: hidden;
}
.talk-list {
    &:first-child {
        margin-bottom: 50px;
    }
    .talk-type {
        display: block;
        width: 100%;
        border-bottom: 1px solid #CDCDCD;
        position: relative;
        height: 20px;
        margin-bottom: 50px;
        color: #8E8E8E;
        font-size: 20px;
        span {
            display: inline-block;
            background-color: #F9F9F9;
            position: relative;
            padding: 10px;
        }
    }
}

.talk-thumb {
    width: 100px;
    height: 100px;
    background-color: #F2F2F2;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.talk-logo {
    width: 80%;
    height: 80%;
    display: inline-block;
    margin: 10% 0;
    cursor: pointer;
}
.talk-infos {
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
    height: auto;
    position: relative;
}
.talk-info {
    font-size: 15px;
    font-family: "Tahoma", sans-serif;
    margin-bottom: 12px;
    display: block;
    color: #222;
    &:last-child {
        margin-bottom: 0;
    }
}
.talk-info-event{
    margin-bottom: 15px;
    a {
        color: #2c7cb7;
        font-size: 30px;
        margin-bottom: 5px;
        text-decoration: none;
    }
}
.talk-info--label {
    font-size: 13px;
    color: #222;
}
.talk-info--links{
    color: #2c7cb7;
    text-decoration: none;
}
.talk-info--data {
    display: inline;
    font-size: 15px;
    line-height: 15px;
    vertical-align: middle;
}
.talk-info--date {
    font-size: 13px;
    vertical-align: middle;
    line-height: 14px;
}
