.talk {
    display: block;
    background-color: #f2f2f2;
    text-decoration: none;
    margin-bottom: 20px;
    overflow: hidden;
}
.talk-thumb {
    width: 100px;
    height: 100px;
    background-color: #F2F2F2;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.talk-logo {
    width: 80%;
    height: 80%;
    display: inline-block;
    margin: 10% 0;
    cursor: pointer;
}
.talk-infos {
    vertical-align: middle;
    display: inline-block;
    padding: 0 0;
    height: auto;
    position: relative;
}
.talk-info-event a{
    color: #2c7cb7;
    font-size: 25px;
    margin-bottom: 5px;
    text-decoration: none;
}
.talk-info--label {

}
.talk-info {
    display: inline;
}
