{{> header }}

    <section class="portfolios container section-content">
      <ul>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/onrizon.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">Onrizon Social Games</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/exceda.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Portal</div>
                <div class="portfolio-title">Exceda</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/trucoonfrases.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">WEBSITE & APP IOS/ANDROID</div>
                <div class="portfolio-title">TrucoON Frases</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/duckssports.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">E-COMMERCE</div>
                <div class="portfolio-title">Ducks Sports</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/cerlev.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">Cerlev</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/develon.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">Develon</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/unimed-bh.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">E-LEARNING</div>
                <div class="portfolio-title">Unimed-BH - Universidade Corporativa</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/fritonahora.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">PORTAL</div>
                <div class="portfolio-title">Frito Na Hora - FNH</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/tcemg.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">WEBAPP IOS - IPAD</div>
                <div class="portfolio-title">Relatório de Contas (TCE-MG)</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/fiatstore.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">E-COMMERCE</div>
                <div class="portfolio-title">Fiat Store</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/casablanca.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">Casablanca Comunicação</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/unisecovimg.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">PORTAL, E-LEARNING E E-COMMERCE</div>
                <div class="portfolio-title">Universidade Secovi-MG</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/viannajoias.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website E E-COMMERCE</div>
                <div class="portfolio-title">Vianna Jóias Brasil</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/madepal.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">Madepal</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/portugalmurad.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">Portugal Murad</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/svcontabilidade.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">SV Contabilidade</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/vzcamisetas.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">VZ Camisetas</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/ism.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">Instituto da Saúde da Mulher</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/tiburcioerocha.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">Tibúrcio & Rocha</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/exerciciosdevida.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">Exercício de Vida</div>
              </div>
            </a>
          </li>



      </ul>
    </section>

{{> footer }}
