<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>{{ sitename }} — {{ title }}</title>
  <meta charset="UTF-8">
  <meta name="description" content="{{ description }}">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta property="og:title" content="{{ sitename }} - {{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.betomuniz.com">
  <meta property="og:image" content="http://www.betomuniz.com/static/images/facebook-profile.png">
  <meta property="og:site_name" content="{{ sitename }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="twitter:site" content="@obetomuniz">
  <meta name="twitter:creator" content="@obetomuniz">
  <link rel="publisher" href="https://plus.google.com/+betomuniz">
  <link rel="author" href="https://plus.google.com/+betomuniz">
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/stylesheets/bm.css">
  <script>
    var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-31461010-1']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_setDomainName', 'betomuniz.com']);
    _gaq.push(['_setAllowLinker', true]);
    (function(){var ga=document.createElement('script');
        ga.type='text/javascript';
        ga.async=true;
        ga.src=('https:'==document.location.protocol ? 'https://ssl' : 'http://www')+'.google-analytics.com/ga.js';
        var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();
  </script>
</head>
<body>

    <header class="page-header">

      <h1><span>{{ sitename }}</span></h1>

      <figure class="photo"><img src="/static/images/betomuniz.png" alt="{{ sitename }} Picture" /></figure>

      <nav class="navigation">
        <ul>
          <li><a href="/" class="navigation-item">About</a></li>
          <li><a href="/blog/" class="navigation-item">Blog</a></li>
          <li><a href="/projects/" class="navigation-item active">Projects</a></li>
          <li><a href="https://speakerdeck.com/obetomuniz" target="_blank" class="navigation-item">Talks</a></li>
        </ul>
      </nav>

    </header>

    <section class="portfolios container">
      <ul>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/onrizon.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">Onrizon Social Games</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/exceda.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Portal</div>
                <div class="portfolio-title">Exceda</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/trucoonfrases.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">WEBSITE & APP IOS/ANDROID</div>
                <div class="portfolio-title">TrucoON Frases</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/duckssports.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">E-COMMERCE</div>
                <div class="portfolio-title">Ducks Sports</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/cerlev.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">Cerlev</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/develon.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">Develon</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/unimed-bh.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">E-LEARNING</div>
                <div class="portfolio-title">Unimed-BH - Universidade Corporativa</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/fritonahora.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">PORTAL</div>
                <div class="portfolio-title">Frito Na Hora - FNH</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/tcemg.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">WEBAPP IOS - IPAD</div>
                <div class="portfolio-title">Relatório de Contas (TCE-MG)</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/fiatstore.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">E-COMMERCE</div>
                <div class="portfolio-title">Fiat Store</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/casablanca.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">Casablanca Comunicação</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/unisecovimg.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">PORTAL, E-LEARNING E E-COMMERCE</div>
                <div class="portfolio-title">Universidade Secovi-MG</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/viannajoias.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website E E-COMMERCE</div>
                <div class="portfolio-title">Vianna Jóias Brasil</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/madepal.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">Madepal</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/portugalmurad.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">Portugal Murad</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/svcontabilidade.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">SV Contabilidade</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/vzcamisetas.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">VZ Camisetas</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/ism.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">Instituto da Saúde da Mulher</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/tiburcioerocha.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">Tibúrcio & Rocha</div>
              </div>
            </a>
          </li>

          <li>
            <a target="_blank" class="portfolio first">
              <div class="portfolio-thumbnail">
                <img src="/static/images/portfolio/exerciciosdevida.jpg">
              </div>
              <div class="portfolio-infos">
                <div class="portfolio-type">Website</div>
                <div class="portfolio-title">Exercício de Vida</div>
              </div>
            </a>
          </li>



      </ul>
    </section>

    <footer class="page-footer">

      <ul class="socials">
        <li><a href="mailto:contato@betomuniz.com" target="_blank" class="social-item icon-mail"><span>Email</span></a></li>
        <li><a href="https://github.com/obetomuniz" target="_blank" class="social-item icon-github"><span>Github</span></a></li>
        <li><a href="http://www.linkedin.com/in/obetomuniz" target="_blank" class="social-item icon-linkedin"><span>Linkedin</span></a></li>
        <li><a href="https://twitter.com/obetomuniz" target="_blank" class="social-item icon-twitter"><span>Twitter</span></a></li>
        <li><a href="/portfolio/" class="social-item icon-drawer"><span>Portfolio</span></a></li>
      </ul>

    </footer>

  <script src="/static/javascripts/bm.js" charset="utf-8"></script>
</body>
</html>
