.my-socials {
  display: flex;

  &__icon {
    margin: 0 12px;
    width: 1.1rem;
    height: 1.1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    color: #777777;
    transition: all 200ms linear;

    &:hover {
      color: #000000;
    }
  }
}
