.my-photo {
  height: 80px;
  overflow: hidden;
  width: 80px;
  display: block;
  border-radius: 100%;
  margin-bottom: $default-box-margin;

  &__image {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  .my-photo {
    margin-bottom: $default-box-margin-mobile;
  }
}
