.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  padding: 0 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #222222;
    font-weight: bold;

    &:hover {
      color: #777777;
      text-decoration: underline;
    }
  }

  &__name {
    flex: 1;
  }

  &__logo {
    width: 40px;
    height: 40px;

    &--custom-project {
      img {
        width: 100%;
        height: 100%;
      }
    }

    &--github {
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .project {
    margin-bottom: 25px;

    &__link {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }

    &__logo {
      width: 25px;
      height: 25px;
    }
  }
}
