.talk {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  &__name {
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #222222;
    font-weight: bold;

    &--link {
      &:hover {
        color: #777777;
        text-decoration: underline;
      }
    }
  }
  &__infos {
    display: flex;
    align-items: center;
  }

  &__event,
  &__date,
  &__location {
    font-size: 13px;
    color: #666;
  }

  &__separator {
    margin: 0 6px;
  }
}
