.home-content {
  margin-bottom: $default-box-margin-mobile;

  p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  a {
    font-weight: bold;
    color: #000000;
    text-decoration: none;

    &:hover {
      color: #777777;
    }
  }
}

@media screen and (max-width: 440px) {
  .home-content {
    p {
      font-size: 1.09rem;
      line-height: 1.9rem;
    }
  }
}
