    <footer class="footer">
      <ul class="my-socials">
        <li class="my-socials__item">
          <a title="Beto Muniz Linkedin" class="my-socials__link" href="https://www.linkedin.com/in/obetomuniz" target="_blank" rel="noopener noreferrer">
            <svg class="my-socials__icon">
              <use xlink:href="/assets/images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="my-socials__item">
          <a title="Beto Muniz GitHub" class="my-socials__link" href="https://github.com/obetomuniz" target="_blank" rel="noopener noreferrer">
            <svg class="my-socials__icon">
              <use xlink:href="/assets/images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="my-socials__item">
          <a title="Beto Muniz Twitter" class="my-socials__link" href="https://twitter.com/obetomuniz" target="_blank" rel="noopener noreferrer">
            <svg class="my-socials__icon">
              <use xlink:href="/assets/images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="my-socials__item">
          <a title="Beto Muniz RSS" class="my-socials__link" href="https://betomuniz.com/blog/feed.xml">
            <svg class="my-socials__icon">
              <use xlink:href="/assets/images/icons.svg#icon-rss"></use>
            </svg>
          </a>
        </a>
        <li class="my-socials__item">
          <a title="Beto Muniz Email" class="my-socials__link" href="mailto:contato@betomuniz.com">
            <svg class="my-socials__icon">
              <use xlink:href="/assets/images/icons.svg#icon-mail"></use>
            </svg>
          </a>
        </li>
      </ul>
    </footer>
    </div>
    <script src="/assets/scripts/index.js"></script>
  </body>
</html>
