  <footer class="page-footer container">

    <ul class="socials">
      <li><a href="mailto:contato@betomuniz.com" target="_blank" class="social-item icon-mail"><span>Email</span></a></li>
      <li><a href="https://github.com/obetomuniz" target="_blank" class="social-item icon-github"><span>Github</span></a></li>
      <li><a href="http://www.linkedin.com/in/obetomuniz" target="_blank" class="social-item icon-linkedin"><span>Linkedin</span></a></li>
      <li><a href="https://twitter.com/obetomuniz" target="_blank" class="social-item icon-twitter"><span>Twitter</span></a></li>
      <li><a href="http://betomuniz.com/blog/feed.xml" target="_blank" class="social-item icon-feed"><span>Feed</span></a></li>
      <li><a href="/portfolio/" class="social-item icon-drawer"><span>Portfolio</span></a></li>
    </ul>

  </footer>

</div>
</body>
</html>
