  <footer class="page-footer container">

    <ul class="socials">
      <li><a href="mailto:contato@betomuniz.com" target="_blank" class="social-item icon-mail"><span>Email</span></a></li>
      <li><a href="https://github.com/obetomuniz" target="_blank" class="social-item icon-github"><span>Github</span></a></li>
      <li><a href="http://www.linkedin.com/in/obetomuniz" target="_blank" class="social-item icon-linkedin"><span>Linkedin</span></a></li>
      <li><a href="https://twitter.com/obetomuniz" target="_blank" class="social-item icon-twitter"><span>Twitter</span></a></li>
      <li><a href="http://betomuniz.com/blog/feed.xml" target="_blank" class="social-item icon-feed"><span>Feed</span></a></li>
      <li><a href="/portfolio/" class="social-item icon-drawer"><span>Portfolio</span></a></li>
    </ul>

    <a href="http://pt.wikipedia.org/wiki/C%C3%B3digo_Konami" target="_blank" class="konami-code">
      <img src="/static/images/konami-code.svg" alt="Konami Code | Pong">
    </a>

  </footer>

  <section id="game" class="pong">
    <div class="container">
      <div class="pong-header">
        <span id="score-1" class="score">Você <span>0</span></span>
        <span class="score vs">vs.</span>
        <span id="score-2" class="score">Beto <span>0</span></span>
      </div>
      <div class="pong-game">
        <canvas id="canvas" width="500" height="300"></canvas>
      </div>
      <div class="pong-footer">
        <span class="game-info">Pressione espaço para pausar/reiniciar o jogo...<br><small>...e para sair do jogo, pressione ESC.</small></span>
      </div>
    </div>
  </section>

</div>
</body>
</html>
