<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>{{ current_title }}</title>
  <meta charset="UTF-8">
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ keywords }}">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta property="og:title" content="{{ current_title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://betomuniz.com{{url}}">
  <meta property="og:image" content="https://betomuniz.com/static/images/facebook-profile.png">
  <meta property="og:site_name" content="Beto Muniz">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="twitter:site" content="@obetomuniz">
  <meta name="twitter:creator" content="@obetomuniz">
  <link rel="publisher" href="https://plus.google.com/+betomuniz">
  <link rel="author" href="https://plus.google.com/+betomuniz">
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/stylesheets/bm.css">

  <link rel="shortcut icon" href="/static/images/favicons/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/static/images/favicons/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicons/apple-touch-icon-152x152.png" />

  <script src="/static/javascripts/bm.js" charset="utf-8"></script>

  <script>
    var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-31461010-1']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_setDomainName', 'betomuniz.com']);
    _gaq.push(['_setAllowLinker', true]);
    (function(){var ga=document.createElement('script');
        ga.type='text/javascript';
        ga.async=true;
        ga.src=('https:'==document.location.protocol ? 'https://ssl' : 'http://www')+'.google-analytics.com/ga.js';
        var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();
  </script>
</head>
<body>
  <div class="wrapper">
  <header class="page-header header-content">

    <h1><span>Beto Muniz</span></h1>

    <a href="/" class="photo">
      <img src="https://www.gravatar.com/avatar/fff7258836f20ea66b061b49a51fe8dd?s=170" alt="Beto Muniz Profile">
    </a>

    <nav class="navigation">
      <ul>
        <li><a href="/" class="navigation-item">About</a></li>
        <li><a href="/blog/" class="navigation-item{{#menuActive collection "blog"}} active{{/menuActive}}">Blog</a></li>
        <li><a href="/projects/" class="navigation-item{{#menuActive collection "projects"}} active{{/menuActive}}">Projects</a></li>
        <li><a href="/talks/" class="navigation-item{{#menuActive collection "talks"}} active{{/menuActive}}">Talks</a></li>
      </ul>
    </nav>

  </header>
